
<mat-sidenav-container fullscreen>
    <mat-sidenav align="start" #sidenav>
        <mat-nav-list (click)="sidenav.close()">

          <a mat-list-item routerLink="calendar">
            <mat-icon>file_copy</mat-icon>
            Calendário
          </a>

          <a mat-list-item routerLink="calendar">
            <mat-icon>file_copy</mat-icon>
            Mês
          </a>
          <a mat-list-item routerLink="calendar">
            <mat-icon>file_copy</mat-icon>
            Semana
          </a>
          <a mat-list-item routerLink="calendar">
            <mat-icon>file_copy</mat-icon>
            Dia
          </a>

        </mat-nav-list>
    </mat-sidenav>
    <!-- Body -->

  <mat-toolbar color="primary">
      <mat-icon class="marginright-40" (click)="sidenav.open()">menu</mat-icon>
      <button mat-raised-button color="accent" routerLink="calendar">Ir para o calendário</button>
  </mat-toolbar>

<router-outlet></router-outlet>

</mat-sidenav-container>













